@media screen and (min-width: 0) {
    .produtos {
        padding: 1.5rem 1rem;
    }
    .produtos__cabecalho {
        display: flex;
        justify-content: space-between;
    }
    .produtos__titulo {
        color: var(--preto-texto);
        font-size: 22px;
        font-weight: 700;
    }
    .produtos__botao {
        background-image: none;
        background-color: var(--azul-links);
        border: none;
        color: var(--branco);
        font-size: 14px;
        font-weight: 600;
        height: 3rem;
        padding: 0 1.5rem;
        width: 12rem;
    }
    .produtos__botao:hover {
        background-color: var(--azul-hover);
    }
    .produtos__conteudo {
        display: flex;
        flex: wrap;
        flex-direction: column;
        grid-area: conteudo;
        padding: 1rem 0;
    }
    .produtos__card {
        background: var(--cinza-fundo);
        display: grid;
        grid-template-areas: 
            "card-imagem"
            "card-corpo";
        grid-template-columns: 100%;
        margin-bottom: 1rem;
    } 
    .produtos__card--img {
        grid-area: card-imagem;
        height: 100%;
        width: 100%;
    }
    .produtos__card--corpo {
        display: grid;
        grid-area: card-corpo;
        grid-template-rows: 20% 40% 20%;
        row-gap: .25rem;
    }
    .produtos__card--titulo {
        color: var(--preto-texto);
        font-size: 14px;
        font-weight: 500;
    }
    .produtos__card--valor {
        color: var(--preto-texto);
        font-size: 16px;
        font-weight: 700;
    }
    .produtos__card--pag {
        color: var(--preto-texto);
        font-size: 14px;
        font-weight: 500;
    }
}

@media screen and (min-width: 320px) {
    .produtos__cabecalho {
        margin-right: 2rem;
    }
    .produtos__conteudo {
        column-gap: .5rem;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .produtos__card {
        width: calc(50% - 1rem);
    }
}

@media screen and (min-width: 768px) {
    .produtos__card {
        width: calc(25% - 1rem);
    }
}

@media screen and (min-width: 1024px) {
    .produtos__card {
        width: calc(16.6% - 1rem);
    }
    .produtos {
        padding: 0 4rem;
    }
    .produtos__cabecalho {
        margin-right: 4rem;
        margin-top: 2rem;
    }
    .produtos__card:nth-child(5) {
        display: grid;
        }
    .produtos__card:nth-child(6) {
        display: grid;
    }
}