:root {
    --azul-fundo: #EAF2FD;
    --azul-links: #2A7AE4;
    --azul-hoverlogo: #D4E4FA;
    --azul-hover: #5595E9;
    --branco: #FFFFFF;
    --cinza-pesquisa: #F5F5F5;
    --cinza-fundo: #E5E5E5;
    --cinza-texto: #A2A2A2;
    --preto-texto: #464646;

    --raleway: 'Raleway', sans-serif;
}
body {
    font-family: var(--raleway);
    background-color: var(--branco);
}

@media screen and (min-width: 320px) {
/* ----- CONTEÚDO ----- */
    .conteudo {
        background-color: var(--cinza-fundo);
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        padding: 3rem 0;
    }
    .conteudo__iniciar {
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin: 3rem 2rem;
    }
    .conteudo__titulo {
        color: var(--preto-texto);
        font-weight: 700;
        font-size: 16px;
        text-align: center;
    }
    .conteudo__email, .conteudo__senha {
        background: var(--branco);
        border-radius: 4px;
        border: none;
        color: var(--preto-texto);
        height: 2.5rem;
        margin-bottom: .5rem;
        width: 17rem;
    }
    .conteudo__email::placeholder,.conteudo__senha::placeholder {
        align-items: center;
        color: var(--cinza-texto);
        font-weight: 400;
        font-size: 16px;
        position: static;
    }
    .conteudo__botao {
        background-color: var(--azul-links);
        border: none;
        color: var(--branco);
        font-size: 14px;
        font-weight: 600;
        height: 2.75rem;
        margin-top: .5rem;
        text-align: center;
        transition: 400ms ease-in-out;
        width: 7rem;
    }
    .conteudo__botao:hover {
        background-color: var(--azul-hover);
        cursor: pointer;
    }
}

@media screen and (min-width: 768px) {

}

@media screen and (min-width: 1024px) {
    .conteudo__titulo {
        font-size: 18px;
        margin-bottom: 2rem;
    }
    .conteudo__email,.conteudo__senha {
        height: 4rem;
        width: 30rem;
    }
    .conteudo__botao {
        height: 3.5rem;
        width: 30rem;
    }
}